/* BONUS */

body {
    min-height: 100vh;
    padding: 4rem 0;
    background-color: black;
}

.box {
    padding: 10px;
    text-align: center;
    background-color: rgba(110, 73, 119, 0.671); 
    border: 2px solid rgba(180, 168, 197, 0.5);            
}


/* ALTERNATIVE COLUMNS */

.col-0.5 {
    width: 50%;
}

  
.black {
    padding: 20px;
    background-color: black;
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/51LGP9s5rbL._AC_.jpg");
    background-size: cover;
    background-position: top;
    transition: border-radius 4s ease-in-out;
}

.black:hover {
    border-radius: 25%;
}

 .middle {
    background-position: center;   
    transition: transform 4s ease-in-out;
}

.middle:hover {
   transform: scale(8);
}

